<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.8.94/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <title>Tree of Life Explorer | MinuteLabs.io</title>
    <meta name="og:title" property="og:title" content="Tree of Life Explorer | MinuteLabs.io">
    <meta name="description" content="Explore Earth's species and the relationships between them easily.">
    <meta property="og:image" content="https://labs.minutelabs.io/Tree-of-Life-Explorer/static/logo-social.png">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Explore Earth's species and the relationships between them easily.">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="https://labs.minutelabs.io/Tree-of-Life-Explorer/static/logo-social.png">
    <meta name="twitter:site" content="@minutelabsio">
    <meta name="twitter:creator" content="@minutelabsio">
  </head>
  <body>
    <div id="app"></div>
    <div id="meta-info" style="display: none">
      <b-modal :active.sync="showInfo">
        <div class="card">
          <div class="card-content">
            <div class="content">
              <a href="http://minutelabs.io" target="_blank">
                <img class="is-pulled-right" style="position:relative;bottom:33px;" src="//cdn.minutelabs.io/logos/logo-minutelabs.png" width="128" height="128"/>
              </a>
              <h1 class="main-title">Tree of Life</h1>

              <h3 class="heading">Why?</h3>
              <p>
                The Tree of Life was created by Jasper Palfree and Ever Salazar at <a href="http://minutelabs.io" target="_blank">MinuteLabs.io</a>.
                Many excellent tools exist for looking at the evolutionary tree, like
                <a href="https://tree.opentreeoflife.org/opentree/argus/opentree10.4@ott93302" target="_blank">The Open Tree of Life</a>
                and <a href="http://www.onezoom.org/life.html/" target="_blank">One Zoom</a>,
                but we wanted to create a tool that would let us easily see the relationships between distant species.
              </p>

              <h3 class="heading">The Data</h3>
              <p>
                We are getting our data from a few places, but the bulk of the data comes from <a href="https://github.com/OpenTreeOfLife/germinator/wiki/Open-Tree-of-Life-Web-APIs" target="_blank">The Open Tree of Life API</a>.
              </p>

              <p>
                <strong>Images</strong> come from a combination of <a href="https://commons.wikimedia.org/wiki/Main_Page" target="_blank">Wikimedia Commons</a>
                and <a href="https://www.wikidata.org/wiki/Wikidata:Main_Page" target="_blank">Wikidata</a>. We didn't curate these images (that would take eons).
                So there may be some strange images because we're effectively searching these image banks by the taxonomy label and pulling whatever images we find.
              </p>

              <h3 class="heading">Support Us!</h3>
              <img class="is-pulled-right" src="https://cdn.minutelabs.io/decorations/Javascript.png" width="128" height="128"/>
              <p>
                We do this because we love it, but it wouldn't be possible without your support.
                The best way to support us is through <a href="https://www.patreon.com/bePatron?u=617966" target="_blank">patreon</a>. Every bit helps. Thank you!
              </p>
              <a href="https://www.patreon.com/bePatron?u=617966" target="_blank">
                <img src="https://c5.patreon.com/external/logo/become_a_patron_button@2x.png" width="217" height="51"/>
              </a>

              <h3 class="heading">Bug Reports</h3>
              <p>
                See something weird? <a href="https://github.com/minutelabsio/Tree-of-Life-Explorer/issues" target="_blank">Tell the Octocat! (Report it on GitHub)</a>
              </p>
              <a href="https://github.com/minutelabsio/Tree-of-Life-Explorer/issues" target="_blank">
                <img src="https://assets-cdn.github.com/images/modules/logos_page/Octocat.png" width="128" height="128"/>
              </a>
            </div>
          </div>
        </div>
      </b-modal>
    </div>
    <!-- built files will be auto injected -->

    <% if (process.env.NODE_ENV === 'production'){ %>
    <script src="https://labs.minutelabs.io/assets/ga.js" async></script>
    <% } %>
  </body>
</html>
