// Common
@import "./_variables";
@import "./_fonts";
@import "~bulma/sass/utilities/initial-variables";
@import "~buefy/src/scss/utils/_all";
@import "~bulma/bulma";
@import "~buefy/src/scss/buefy";

.heading,
.button {
  font-family: $family-monospace;
}

.menu-label {
  font-family: $family-monospace;
  font-size: 1em;
}

.toolbar {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;

  > .toolbar-item {
    display: flex;
    flex-grow: 1;
    margin: 0;
    padding: 0;
  }

  > .toolbar-item,
  > .toolbar-right,
  > .toolbar-left {
    display: flex;
    align-items: center;

    .toolbar-text {
      align-self: center;
      padding: 0 1em;
    }
    .toolbar-control {
      display: flex;
      padding: 0.75rem;
    }
  }
}

.clickable {
  cursor: pointer;
}

.scrollbars {
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px transparentize($grey, 0.5);
    background: $white-ter;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: $blue;
    box-shadow: 0 0 1px transparentize($blue, 0.5);
  }
}

.limit-dropdown .dropdown-content {
  @extend .scrollbars;

  overflow-y: auto;
  max-height: 400px;
}

.card.clickable {
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  &:hover,
  &:focus {
    box-shadow: 0 2px 3px transparentize($blue, 0.6), 0 0 0 1px transparentize($blue, 0.6);
  }
}

// Icon stuff
.icon-anim {
  transition: transform 0.3s ease-in-out;
}
.icon-180 {
  transform: rotate(180deg);
}
.icon-90 {
  transform: rotate(90deg);
}
.icon-270 {
  transform: rotate(270deg);
}
