@font-face {
    font-family: 'latin_modern_mono_light10Rg';
    src: url('lmmonolt10-regular-webfont.eot');
    src: url('lmmonolt10-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('lmmonolt10-regular-webfont.woff') format('woff'),
         url('lmmonolt10-regular-webfont.ttf') format('truetype'),
         url('lmmonolt10-regular-webfont.svg#latin_modern_mono_light10Rg') format('svg');
    font-weight: normal;
    font-style: normal;

}

